@charset "utf-8";


body {
	margin: 0px;
	padding: 0px;
	background: #005a9b url(http://www.mouffetard-autoecole.com/uploads/images/bg_head.png) repeat-x left top;
	font-family:  Arial, Helvetica, sans-serif;
    font-weight: normal;
}

* {
	margin: 0;
	border: 0;
	font-family:  Arial, Helvetica, sans-serif;
    }

img {
	border:none;
}

li {
	list-style-type:none;
}

#conteneur_head {
	background-image: url(http://www.mouffetard-autoecole.com/uploads/images/header.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	height: auto;
	width: 100%;
}

#conteneur {
	background: url(http://www.mouffetard-autoecole.com/uploads/images/bg_foot.png) repeat-x left bottom;
	height: auto;
	width: 100%;
}

#page {
	margin: auto;
	height: auto;
	width: 980px;
}

#header {
	height: 260px;
	width: 980px;
}

#top {
	height: 226px;
	width: 980px;
	position: relative;
}

#logo {
	height: 220px;
	width: 200px;
	position: absolute;
	left: 15px;
	top: 0px;
}

#top_tight {
	height: 220px;
	width: 770px;
	position: absolute;
	left: 210px;
	top: 0px;
}

#nav {
    behavior: url(http://www.mouffetard-autoecole.com/iepngfix.htc);
	background-image: url(http://www.mouffetard-autoecole.com/uploads/images/bg_nav.png);
	background-repeat: no-repeat;
	background-position: left bottom;
	height: 34px;
	width: 950px;
	margin-right: 15px;
	margin-left: 15px;
}

#nav #menu {
	float: left;
	height: 22px;
	width: 741px;
	margin-top: 7px;
}

#nav #menu ul {
	padding: 0px;
	margin: 0;
}

#nav #menu ul li {
	display:block;
    float:left;
    behavior: url(http://www.mouffetard-autoecole.com/iepngfix.htc);	
	background: url(http://www.mouffetard-autoecole.com/uploads/images/sep_menu.png) no-repeat;
	list-style-type:none;
	width: auto;
	height:22px;
	padding: 0 14px;
}

#nav #menu ul li:first-child {
	background:none;
}

#nav #menu ul li a {
	text-decoration:none;
	font-weight: bold;
	color: #d6e8f5;
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 12px;
	float:left;
        background: none;
	display:block;	
	width: auto;
	height:22px;
        padding: 0 10px 0 0;
        line-height:22px;
}
#nav #menu ul li a span {
	padding-top:3px;
	display:block;
	width: auto;
	text-align:center;
        padding:0 0 0 10px;
}
#nav #menu ul li a:hover {
	display:block;
	width: auto;
	height:22px;
        line-height:22px;	
	behavior: url(http://www.mouffetard-autoecole.com/iepngfix.htc);
	background: url(http://www.mouffetard-autoecole.com/uploads/images/hmenu_left.png) no-repeat right top;
        color: #ff9849;
        padding: 0 10px 0 0;
}
#nav #menu ul li a:hover span {
	display:block;
	width: auto;
	height:22px;	
	behavior: url(http://www.mouffetard-autoecole.com/iepngfix.htc);
	background: url(http://www.mouffetard-autoecole.com/uploads/images/hmenu_right.png) no-repeat;
        color: #ff9849;
        padding: 0 0 0 10px;	
}
#nav #menu ul li.menuactive a.menuactive {
	display:block;
	width: auto;
	height:22px;
        line-height:22px;	

	background: url(http://www.mouffetard-autoecole.com/uploads/images/hmenu_left.png) no-repeat right top;
        color: #ff9849;
        padding: 0 10px 0 0;
}
#nav #menu ul li.menuactive a.menuactive span {
	display:block;
	width: auto;
	height:22px;	

	background: url(http://www.mouffetard-autoecole.com/uploads/images/hmenu_right.png) no-repeat;
        color: #ff9849;
        padding: 0 0 0 10px;	
}

#partage {
	float: right;
	height: 23px;
	width: 50px;
	margin-right: 15px;
	margin-top: 5px;
}
#main {
	width: 950px;
	margin-top: 10px;
	padding-right: 15px;
	padding-left: 15px;
	text-align: left;
}

/* PARTIE GAUCHE */
#left {
	float: left;
	height: auto;
	width: 230px;
}

#left #menu_left {
	float:left;
	height: auto;
	width: 226px;
	margin: 0;
}

#left #menu_left ul {
	list-style-type:none;
	padding: 0px;
	margin: 0;
}

#left #menu_left ul li {
	float:left;
	z-index:auto !important /*Non-IE6*/;
	z-index:1000 /*IE6*/;
	padding: 0px;
	width: 226px;
}

#left #menu_left ul li a {
	float:none !important /*Non-IE6*/;
	/*float:left /*IE-6*/
	display:block;
	height:34px;
	width: 208px;
	float: left;
	padding: 8px 0 0 18px;
	text-decoration:none;
	font-weight:normal;
	color: #064c80;
	font-family:  Arial, Helvetica, sans-serif;
    behavior: url(http://www.mouffetard-autoecole.com/iepngfix.htc);	
	background: url(http://www.mouffetard-autoecole.com/uploads/images/left_menu.png) no-repeat;
	font-size: 13px;
	line-height:14px;	
}
#left #menu_left ul li.edukar a {
	background: url(http://www.mouffetard-autoecole.com/uploads/images/edukar.png) no-repeat;
padding-left:40px;
color:#FFFFFF;
}
#left #menu_left ul li.edukar a .edubold {
	color:#73ACE3;
	font-family:  Impact, "Arial Black", sans-serif;
	font-size:17px;
}

#left #menu_left ul li a:hover {
    behavior: url(http://www.mouffetard-autoecole.com/iepngfix.htc);		
	background: url(http://www.mouffetard-autoecole.com/uploads/images/left_menu_hover.png) no-repeat;
	color: #fff;
}
#left #menu_left ul li.edukar a:hover {
	background: url(http://www.mouffetard-autoecole.com/uploads/images/edukar-hover.png) no-repeat;
}
#left #menu_left ul li.edukar a:hover .edubold {
	color:#A5E081;
	font-family:  Impact, "Arial Black", sans-serif;
	font-size:17px;
}

#left #menu_left .menutext .bbold {
	color:#064c80;
	font-family:  Impact, "Arial Black", sans-serif;
	font-size:15px;
}

#left #menu_left .menutext .menuprice {
	color: #FF6600;
	font-family:  Impact, "Arial Black", sans-serif;
	font-size:16px;
}

#left #menu_left .menutext .menupack {
	color: #d22e88;
	font-family:  sans-serif;
	font-size:16px;
}

#left #menu_left .menutext .menulittle {
	font-size:10px;
	font-weight:normal;
}

#left #menu_left .menuactive .bbold {
	font-weight:bold;
	color:#fff;
	font-family:  Arial, Helvetica, sans-serif;
	font-size:16px;
	letter-spacing:-1.5px;
}
#left #menu_left a:hover .bbold {
	font-weight:bold;
	color:#fff;
	font-family:  Arial, Helvetica, sans-serif;
	font-size:16px;
	letter-spacing:-1.5px;
}
#left #menu_left .menuactive .menuprice {
	font-weight:bold;
	color: #fff;
	font-family:  Arial, Helvetica, sans-serif;
	font-size:16px;
}
#left #menu_left a:hover .menuprice {
	font-weight:bold;
	color: #fff;
	font-family:  Arial, Helvetica, sans-serif;
	font-size:16px;
}
#left #menu_left a:hover .menupack {
	font-weight:bold;
	color: #fff;
	font-family:  Arial, Helvetica, sans-serif;
	font-size:16px;
}
#left #menu_left .menuactive .menulittle {
	font-size:10px;
	font-weight:normal;
	color:#fff;
}
#left #menu_left a:hover .menulittle {
	font-size:10px;
	font-weight:normal;
	color:#fff;
}

#left #menu_left .menutext:hover{
	color:#fff;
	display:block;
} 

#left #menu_left ul li a.menuactive {
	background: url(http://www.mouffetard-autoecole.com/uploads/images/left_menu_hover.png) no-repeat;
	color: #fff;
}

#left #menu_left ul li a .prix {
	font-size: 14px;
	font-weight: bold;
	color: #ff6c0a;
}

#left #menu_left ul li a .minus {
	font-size: 10px;
	line-height: 5px;
}

#left #menu_left ul li a:hover .prix {
	font-size: 14px;
	font-weight: bold;
	color: #fff;
}

#left #menu_left ul ul li.parent {
}

#left #menu_left ul ul li.smenu ul.subMenu li {
	height:25px;
	border-left:2px solid #fff;
	border-right:2px solid #fff;
	background:#eee;	
	width:218px;	
	margin: -2px 0 0 2px; 
}

#left #menu_left ul ul li.smenu ul.subMenu li a {
	padding: 5px 0 0 5px;
	font-size:11px;
	font-weight:normal;
}

#left #menu_left ul ul li.smenu ul.subMenu li a span.menutext:hover {
	color:#064c80;	
}

#left #menu_left ul ul li.smenu ul.subMenu li a:hover {
	text-decoration:underline;
	color:#064c80;	
}

#left #menu_left ul ul li.parent ul li {
	margin:0;
	padding:0;
	background:none;	
	color:#064C80;
}

#left #menu_left ul ul li.parent ul li a {
	color:#064C80;
	margin:0;
	padding:0;
	background:none;	
}

/* sous menu */
#left #menu_left ul ul.subMenu li.parent ul.subMenu {
	float:left;
	background:none;
	margin-top:-2px;
	color:#064C80;	
	overflow: hidden
} 

#left #menu_left li.parent.smenu ul.subMenu {
	display: none;
       width:224px
}

#left #menu_left ul ul.subMenu li.parent ul.subMenu li a {
	background:#eee url(http://www.mouffetard-autoecole.com/uploads/images/fleche.png) no-repeat 10px 10px;
	color:#064C80;
	font-weight:normal;
	font-size:12px;
	display:block;
	width:200px;	
	height:18px;
	margin: 0 0 0 2px;
	padding: 6px 0 2px 22px;
}

#left #menu_left ul ul.subMenu li.parent ul.subMenu li a:hover {
	color:#064C80;
	font-weight:normal;
	font-size:12px;
	width:200px;
	display:block;
	height:18px;	
	text-decoration:underline;
}

#left #menu_left ul ul.subMenu li.parent ul.subMenu li a .menutext:hover {
	color:#064C80;
	font-weight:normal;
	font-size:12px;
	text-decoration:underline;	
}

/* FIN PARTIE GAUCHE */

#actu {
	float:left;
	height: auto;
	width: 226px;
	margin: 10px 0;
	background-image: url(http://www.mouffetard-autoecole.com/uploads/images/bg_actu.png);
	background-repeat: repeat-y;
}
#actu_top {
	background-image: url(http://www.mouffetard-autoecole.com/uploads/images/top_actu.png);
	background-repeat: no-repeat;
	height: 8px;
	width: 226px;
}

#actu_main {
	float:left
	height: auto;
	width: 226px;
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding:0;
	margin:0;
}

#actu_main ul {	
	padding: 0px;
	margin: 0;
}
#actu_main ul li {
	float:left;
	z-index:auto !important /*Non-IE6*/;
	z-index:1000 /*IE6*/;
	padding: 5px 0;
	background-image: url(http://www.mouffetard-autoecole.com/uploads/images/sep_actu.png);
	background-repeat: no-repeat;
	background-position: left bottom;
}
#actu_main ul li a {
	
	float: left;
	height: auto;
	width: 200px;
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #6b707a;
	text-decoration: none;
	padding-left: 18px;
	padding-right: 8px;
	margin-bottom: 5px;
}
#actu_main ul li a.menuactive {
	
	color: #1064a3;
	text-decoration: underline;
	background-image: url(http://www.mouffetard-autoecole.com/uploads/images/flech.png);
	background-repeat: no-repeat;
	background-position: 8px 4px;
}
#actu_main ul li a:hover {
	color: #1064a3;
	text-decoration: underline;
	background-image: url(http://www.mouffetard-autoecole.com/uploads/images/flech.png);
	background-repeat: no-repeat;
	background-position: 8px 4px;
}
#actu_main a {
	

	float: left;
	height: 37px;
	width: 200px;
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #6b707a;
	text-decoration: none;
	padding-left: 18px;
	padding-right: 8px;
	margin-bottom: 5px;
}
#actu_main a:hover {
	color: #1064a3;
	text-decoration: underline;
	background-image: url(http://www.mouffetard-autoecole.com/uploads/images/flech.png);
	background-repeat: no-repeat;
	background-position: 8px 10px;
}

#actu_bottom {
	background-image: url(http://www.mouffetard-autoecole.com/uploads/images/bottom_actu.png);
	background-repeat: no-repeat;
	height: 8px;
	width: 226px;
	margin:0;
	padding:0;
}

#pack {
	float:left;
	background: url(http://www.mouffetard-autoecole.com/uploads/images/pack.png) no-repeat;
	height: 167px;
	width: 226px;
	margin:0;
	padding:0;
}

#pack .titre_pack {
	font-family:  Impact, "Arial Black", sans-serif;
	font-size: 25px;
	color: #064c7f;
	text-align: right;
	height: 52px;
	width: 195px;
	margin-top: 17px;
	margin-left: 18px;
	font-weight: normal;
	line-height: 25px;
	float: left;
}

#pack .main_pack {
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #9c9fa5;
	height: 92px;
	width: 195px;
	margin: 5px 0 0 18px;
	font-weight: normal;
	float: left;
}

.main_pack p {
	font-size: 14px;
	font-weight: normal;
	color: #ff6c0a;
}

.main_pack ul {
	margin: 0px;
	padding: 0px;
	list-style-position: inside;
}

#main #center {
	float: left; /* right */
	height: auto;
	width: 718px;
	margin:0;
	padding:0;
    /*position: relative;*/
}

#main #center #cadre {
	float:left;
	height: 165px;
	width: 718px;
	margin: 0 0 10px 0;
}

.ref {
	float: left;
	height: 165px;
	width: 356px;
}

.ref_title {
	font-family:  Impact, "Arial Black", sans-serif;
	font-size: 16px;
	color: #FFF;
	background-image: url(http://www.mouffetard-autoecole.com/uploads/images/ref_title.png);
	background-repeat: no-repeat;
	height: 41px;
	width: 330px;
	padding-left: 26px;
	line-height: 38px;
}

.main_cdr {
	height: 115px;
	width: 330px;
	padding-right: 13px;
	padding-left: 13px;
	background-image: url(http://www.mouffetard-autoecole.com/uploads/images/bg_cadre.png);
	background-repeat: repeat-y;
	padding-top: 2px;
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #1064a3;
}

.main_cdr  td{
        line-height: 14px
}

.main_cdr img {
	float: left;
	height: 97px;
	width: 145px;
	padding-right: 5px;
}

.num {
	font-family:  Impact, "Arial Black", sans-serif;
	font-size: 16px;
	color: #ff6c0a;
}

.horaire {
	float: right;
	height: 165px;
	width: 356px;
}

.foot_cdr {
	background-image: url(http://www.mouffetard-autoecole.com/uploads/images/bg_foot_cdr.png);
	background-repeat: no-repeat;
	height: 7px;
	width: 356px;
}

#mainBody {
	height: auto;
	width: 718px;
}

#top_mainBody {
	background-image: url(http://www.mouffetard-autoecole.com/uploads/images/top_main.png);
	background-repeat: no-repeat;
	height: 8px;
	width: 718px;
    font-size: 1px;
}

#main_MainBody {
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #075d9b;
	background-image: url(http://www.mouffetard-autoecole.com/uploads/images/bg_mainbody.png);
	background-repeat: repeat-y;
	height: auto;
	min-height: 480px;
	width: 689px;
	padding-right: 12px;
	padding-left: 17px;
	line-height: 18px;
}

#main_MainBody h3, #main_MainBody h2 {
	font-size:14px;
}

.mainTitle {
	font-family:  Impact, "Arial Black", sans-serif;
	font-size: 18px;
	line-height: 35px;
	font-weight: normal;
	color: #FFF;
	background-image: url(http://www.mouffetard-autoecole.com/uploads/images/bg_h1.png);
	height: 35px;
	width: 685px;
	padding-left: 20px;
	margin-bottom: 10px;
        margin-left: -10px;
}

.bandeu {
	height: auto;
	width: 704px;
        margin-left: -10px;
        margin-top: -5px;
}


#foot_mainBody {
	background-image: url(http://www.mouffetard-autoecole.com/uploads/images/foot_mainBody.png);
	background-repeat: no-repeat;
	height: 8px;
	width: 718px;
}

.sep {
	clear: both;
	height: 1px;
	width: 100%;
}

#footer {
	height: 220px;
	width: 980px;
}
.cadre_footer {
	height: 110px;
	width: 298px;
	padding-top: 15px;
	padding-right: 6px;
	padding-left: 20px;
	font-family:  Arial, Helvetica, sans-serif;
	color: #FFF;
	font-size: 13px;
	background-image: url(http://www.mouffetard-autoecole.com/uploads/images/bg_cdre_footer.png);
	background-repeat: no-repeat;
	background-position: right 15px;
	float: left;
<!--[if lte IE 6]>
width: 270px;
<![endif]-->
}
.cadre_news {
	height: 110px;
	width: 298px;
	padding-top: 15px;
	padding-right: 6px;
	padding-left: 20px;
	font-family:  Arial, Helvetica, sans-serif;
	color: #FFF;
	font-size: 13px;
	/*background-image: url(http://www.mouffetard-autoecole.com/uploads/images/bg_cdre_footer.png);
	background-repeat: no-repeat;
	background-position: right 15px;*/
	float: right;
<!--[if lte IE 6]>
width: 270px;
<![endif]-->
}

.titre_news {
	font-family:  Impact, "Arial Black", sans-serif;
	font-size: 16px;
	font-weight: normal;
	color: #FFF;
}
.cadre_news .cms_form {
	background-image: url(http://www.mouffetard-autoecole.com/uploads/images/bg_news.png);
	height: 27px;
	width: 275px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
	padding: 0px;
}

.cadre_news .cms_form .cms_textfield{
	background: transparent;
	float: left;
	height: 18px;
	width: 189px;
	margin-top: 4px;
	margin-left: 4px;
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #7eb2de;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}
.cadre_news .cms_form .cms_submit{
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	float: right;
	height: 27px;
	width: 81px;
	border: 0px;
	background: transparent;
	cursor: pointer;
	color: #FFF;
        margin-top:-17px;
}
.cadre_footer a {
	font-size: 11px;
	color: #6ba5d4;
	text-decoration: underline;
}
.cadre_news a {
	font-size: 11px;
	color: #6ba5d4;
	text-decoration: underline;
}





.cadre_footer img {
	float: left;
	margin-right: 10px;
}

#menu_bottom {
	float: left;
	height: 38px;
	width: 940px;
	margin-top: 16px;
	margin-right: 20px;
	margin-left: 20px;
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 11px;
}
#menu_bottom a {
	color: #2b7dbd;
	text-decoration: none;
	padding-right: 5px;
	padding-left: 5px;
}
#menu_bottom a:hover {
	color: #81b9e7;
	text-decoration: underline;
}
#ref_go {
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 25px;
	color: #eeeeee;
	text-align: center;
	height: 25px;
	width: 980px;
	margin-top: 8px;
	margin-bottom: 5px;
	float: left;
}
#ref_go a {
	color: #2b7dbd;
	text-decoration: none;
}
#ref_go a:hover 
{
color: #81b9e7;
text-decoration: underline;
}

#main_MainBody a {
	font-size: 12px;
	font-weight: normal;
	color: #005999;
	text-decoration: underline;
}
#main_MainBody a:hover {
	color: #79c6fd;
}
#main_MainBody img.photo {
	float: right;
	margin-left: 10px;
}
#actu_main ul {
        list-style-type:none;
	padding: 0px;
	margin: 0;
      
}
#actu_main h1 {
       display: none;
}
#actu_main .NewsSummaryPostdate {
       display: none;
}
#actu_main .NewsSummaryCategory {
       display: none;
}
#actu_main .NewsSummaryAuthor {
       display: none;
}
#actu_main .NewsSummaryContent {
       display: none;
}
.main_cdr ul {
        list-style-type:none;
	padding: 0px;
	margin: 0;
       display: none;
}
.main_cdr h1 {
       display: none;
}
.main_cdr .NewsSummaryPostdate {
       display: none;
}
.main_cdr .NewsSummaryCategory {
       display: none;
}
.main_cdr .NewsSummaryLink {
       display: none;
}
.main_cdr .NewsSummaryAuthor {
       display: none;
}
.main_cdr  .titre {
       color: #ff6c0a;
       font-size: 14px;
       text-transform:uppercase;
font-family: Impact, "Arial Black", sans-serif;

}
.cadre_accueil {
	background-image: url(http://www.mouffetard-autoecole.com/uploads/images/bg_div_home.png);
	background-repeat: no-repeat;
	background-position: left top;
	height: auto;
	width: 100%;
	margin-top: 5px;
	padding-top: 5px;
}
.cadre_home {
	float: left;
	height: auto;
	width: 342px;
	padding-top: 5px;
}
.cadre_home img {
	float: left;
	margin-right: 5px;
}
#actu .NewsSummary {
	padding: 0;
	margin: 0;
	border-bottom: 0px solid #ccc;
float: left;
background-image: url(http://www.mouffetard-autoecole.com/uploads/images/sep_actu.png);
	background-repeat: no-repeat;
	background-position: left bottom;
}

.nms_message {
    color:orange;
    font-weight:normal;
    font-size:11px;
    font-style:italic;
}

#partage {
	float: right;
	height: 23px;
	width: 60px;
	margin-right: 15px;
	margin-top: 5px;
    padding:0;
}

#partage  .rssImage {
    margin:0;
    padding:0;
    width:22px;
    height:22px;
    behavior: url(http://www.mouffetard-autoecole.com/iepngfix.htc);		
}

#partage .rssLink {
    width:22px;
    height:22px;
    margin:0;
    padding:0;
}

#partage .fbLink {
    margin:0;
    padding:0;
    behavior: url(http://www.mouffetard-autoecole.com/iepngfix.htc);	
}




.unsubscribeDOMWindow { 
text-decoration:underline;
color:#eee;
}

#DOMWindow {
float:left;
}

#DOMWindow .cms_form {
	background-image: url(http://www.mouffetard-autoecole.com/uploads/images/bg_news.png) no-repeat;
	padding: 0px;
	height: 30px;
	width: 275px;
	margin-top: 10px 0 5px 0px;
    color:#eee;
}

#DOMWindow .cms_form  .cms_textfield {
	background: transparent;
	float: left;
	height: 18px;
	width: 180px;
	margin: 4px 0px 0px 4px;
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #7eb2de;
    border:1px solid #fff;
}


#DOMWindow .cms_form .cms_submit {
 color:#fff;
 background:#FC4025;
text-align:center;
font-weight:normal;
font-size:11px;
height:20px;
width:60px;
margin: 4px 0 0 0;
}

a.closeDOMWindow, a:visited .closeDOMWindow {
color:#fff;
float:right;
display:block;
margin:20px 24px 0 0;
}

#plan-du-site  li{line-height: 1.5em;}


/*************************************
 ********** POP-IN PROMOTIONNELLLE ******
 *************************************/
div.fade-box {
	background: #000;
	width: 100%;
	position: absolute;
	z-index: 500
}

div.pop-in {
	font: italic 20px Arial, Helvetica, sans-serif;
	color: #C5C5C5;
	position: absolute;
	z-index: 600;
	background: #303234 url(http://www.mouffetard-autoecole.com/images/bkg-texture-noise.png);
	border: 1px solid #5C5F63;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	
}

div.pop-in a,
div.pop-in address strong {
	color: #C5C5C5
}

div.pop-in address {
	background: url(http://www.mouffetard-autoecole.com/images/bkg-title-popin2.png) no-repeat;
	width: 761px;
	height: 164px;
	margin-top: 10px
}

div.pop-in address img.logo {
	float: left;
	margin: 13px 23px 0 12px
}

div.pop-in address p {
	margin: 0;
	padding-top: 100px;
	overflow: hidden
}

div.pop-in address p span.metro {
	font-style: normal;
	font-size: 14px;
	margin-right: 40px
}



div.pop-in address p span.metro  img{
	position: relative;
	top: 3px
}

div.pop-in a.close-pop-in {
	background: none;
	color: #FFF;
	position: absolute;
	bottom: -20px;
	left: 380px;
	font: 14px Arial, Helvetica, sans-serif;
}

div.pop-in p.special {
	overflow: hidden;
	padding: 15px 0 0;
	margin: 0 0 45px
}

div.pop-in strong {
	color: #70A4D7
}

div.pop-in p.following {
	text-decoration: underline;
	font-style: normal;
	font-size: 16px;
	text-align: center
}

div.pop-in img.plus {
	display: block;
	margin: 10px auto 0
}

div.pop-in p img.logo {
	float: left;
	margin: -13px 17px 0 0
}

div.pop-in a.draw-button {
	background: url(http://www.mouffetard-autoecole.com/images/bkg-draw-button.png) no-repeat;
	display: block;
	width: 254px;
	height: 52px;
	margin: 0 auto 35px;
	text-align: center;
	font: bold 25px/48px Arial, Helvetica, sans-serif;
	color: #252626;
	text-decoration: none
}


div.pop-in div.content {
	padding: 0 15px;
	width: 770px;
}

div.pop-in h1 {
	color: #FFF;
	background:url(http://www.mouffetard-autoecole.com/images/bkg-pop-in-title.png) no-repeat;
	height: 38px;
	line-height: 38px;
	font-size: 25px;
	font-weight: normal;
	padding-left: 30px;
	margin: 0 0 5px 0
}

div.pop-in div.no-margin {
	overflow: hidden
}

div.pop-in div.no-margin p {
	margin: 0;
	line-height: 28px;
}

div.pop-in div.no-margin p span.left {
	float: left;
	text-align: right;
	width: 100px;
	margin-right: 3px;
	position: relative;
}

div.pop-in div.no-margin p span.left.metro {
	top: -10px
}

div.pop-in div.no-margin p span.left.metro img {
	position: relative;
	top: 10px
}

div.pop-in p {
	margin: 13px 0
}

div.pop-in hr {
	position: static;
	left: auto;
	top: auto;
	border: none;
	background: url(http://www.mouffetard-autoecole.com/images/pop-in-separator.png) center center no-repeat;
	height: 5px;
	*display: list-item;
	*list-style : none url(images/pop-in-separator.png) inside;
	*filter : alpha(opacity=0);
	*margin-bottom: -10px
}

div.pop-in p.important {
	color: #FF6C07;
	margin: 20px 0;
	font-size: 20px;
	text-align: center
}

div.pop-in ul.elements-list {
	list-style: none;
	padding:0;
	margin:0;
	overflow: hidden
}

div.pop-in ul.elements-list li {
	float: left;
	margin: 0 13px;
	background: url(http://www.mouffetard-autoecole.com/images/bkg-element-list.png) no-repeat;
	width: 329px;
	padding: 15px;
	height: 86px
}

div.pop-in ul.elements-list li img,
div.pop-in ul.elements-list li address {
	float: left;
	font-size: 13px;
	font-style: normal
}

div.pop-in ul.elements-list li img {
	margin-right: 15px
}